<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

-   Extract information from a given web site 
-   Write the scraped data into a csv file.

## Extract information from the given web site

You will extract the data from the below web site: <br>

In [1]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

Download the webpage at the url

In [3]:
data  = requests.get(url).text

Create a soup object

In [4]:
soup = BeautifulSoup(data,"html5lib")

Scrape the `Language name` and `annual average salary`.

In [5]:
tables = soup.find_all('table')

In [6]:
len(tables)

1

In [20]:
population_data_read_html = pd.read_html(str(tables[0]), flavor='bs4')[0]
population_data_read_html

,0,1,2,3,4
0,No.,Language,Created By,Average Annual Salary,Learning Difficulty
1,1,Python,Guido van Rossum,"$114,383",Easy
2,2,Java,James Gosling,"$101,013",Easy
3,3,R,"Robert Gentleman, Ross Ihaka","$92,037",Hard
4,4,Javascript,Netscape,"$110,981",Easy
5,5,Swift,Apple,"$130,801",Easy
6,6,C++,Bjarne Stroustrup,"$113,865",Hard
7,7,C#,Microsoft,"$88,726",Hard
8,8,PHP,Rasmus Lerdorf,"$84,727",Easy
9,9,SQL,"Donald D. Chamberlin, Raymond F. Boyce.","$84,793",Easy
10,10,Go,"Robert Griesemer, Ken Thompson, Rob Pike.","$94,082",Difficult

In [26]:
df = population_data_read_html[population_data_read_html.columns[1:4]]
df

,1,2,3
0,Language,Created By,Average Annual Salary
1,Python,Guido van Rossum,"$114,383"
2,Java,James Gosling,"$101,013"
3,R,"Robert Gentleman, Ross Ihaka","$92,037"
4,Javascript,Netscape,"$110,981"
5,Swift,Apple,"$130,801"
6,C++,Bjarne Stroustrup,"$113,865"
7,C#,Microsoft,"$88,726"
8,PHP,Rasmus Lerdorf,"$84,727"
9,SQL,"Donald D. Chamberlin, Raymond F. Boyce.","$84,793"
10,Go,"Robert Griesemer, Ken Thompson, Rob Pike.","$94,082"

In [30]:
df.columns =['Language', 'Created By', 'Average Annual Salary']
df

,Language,Created By,Average Annual Salary
0,Language,Created By,Average Annual Salary
1,Python,Guido van Rossum,"$114,383"
2,Java,James Gosling,"$101,013"
3,R,"Robert Gentleman, Ross Ihaka","$92,037"
4,Javascript,Netscape,"$110,981"
5,Swift,Apple,"$130,801"
6,C++,Bjarne Stroustrup,"$113,865"
7,C#,Microsoft,"$88,726"
8,PHP,Rasmus Lerdorf,"$84,727"
9,SQL,"Donald D. Chamberlin, Raymond F. Boyce.","$84,793"
10,Go,"Robert Griesemer, Ken Thompson, Rob Pike.","$94,082"

In [47]:
df1 = df[['Language', 'Average Annual Salary']]
df1

      Language Average Annual Salary
1       Python              $114,383
2         Java              $101,013
3            R               $92,037
4   Javascript              $110,981
5        Swift              $130,801
6          C++              $113,865
7           C#               $88,726
8          PHP               $84,727
9          SQL               $84,793
10          Go               $94,082

Save the scrapped data into a file named _popular-languages.csv_

In [48]:
df1.to_csv('popular-languages.csv', index=False, sep=';')

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).